/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Dashboard Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #e0e0e0;
  background-color: #1f1b24;
}

.dashboard {
  display: flex;
  min-height: 100vh;
}



/* Main Content Area */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  background-color: #1f1b24;
}

/* Top Bar */


/* Dashboard Content */
.dashboard-content {
  padding: 2rem;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

.card {
  /* height:200px; */
  background-color: #2a2139;
  /* display: flex; */
  /* flex-direction: column; */
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  /* align-items: center; */
  /* justify-conten t:center; */
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.card-icon {
  font-size: 2rem;
  color: #00bfff;
  margin-bottom: 1rem;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #e0e0e0;
}

.card p {
  font-size: 1rem;
  color: #a9a9a9;
  margin-bottom: 1.5rem;
  text-align: centre;
}

.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

.primary-btn {
  background-color: #00bfff;
  color: #fff;
}

.primary-btn:hover {
  background-color: #0093db;
  transform: scale(1.05);
}
