@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2139;
  padding: 1rem 2rem;
  margin: 0px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.top-bar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.top-bar-left h1 {
  font-size: 1.5rem;
  color: #00bfff;
}

.top-bar-right .user-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.username {
  font-size: 1rem;
  color: #e0e0e0;
}
